.questionSetContainer {
    margin: 0 auto; 
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.questionSet {
    background-color: grey;
    height: 200px;
    width: 25%;
    border: white 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 2%
    

}

.questionSet p{
    color: darkorange;
}